<a
  class="movie-card <% if(hover){ %> movie-card-hover <%}%>"
  href='<%= isShow ? "/shows/"+item.id : "/movies/" + item.id%>'
>
  <% if (Object.keys(user).length != 0 && !isShow) { %>
  <form id="addToFavForm" method="post" action="<%= isShow ? "#"+item.id : "/movies/fav/" + item.id%>">
    <button type="submit" class="btn border-0 fav-icon">
      <i class="<%= isFavorite ? "fa-solid" : "fa-regular"%> fa-heart"></i>
    </button>
  </form>
  <% } %>
  <img
    src='<%= item.poster_path? "http://image.tmdb.org/t/p/w220_and_h330_face/"+item.poster_path : "/assets/placeholder.jpg"%>'
    class="img-fluid rounded"
  />
  <% if(hideContent === false){ %>
  <div class="content pt-2 text-wrap">
    <p class="m-0 p-0 fw-bold"><%= isShow ? item.name : item.title %></p>
    <p class="m-0 text-muted fs-6">
      <%=isShow ? convertDate(item.first_air_date) :
      convertDate(item.release_date)%>
    </p>
  </div>
  <%}%>
</a>
